body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #76b852;
}

.info {
  padding: 5px 0;
}

.btn {
  box-shadow: none !important;
  color: white;
}

.btn:hover {
  color: white !important;
}

img {
  width: 20% !important;
  padding: 1px;
}

.hover button {
  position: relative !important;
  top: 8px;
  left: 0;
  z-index: 1;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: rgb(105, 105, 105) !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.hover button:hover {
  color: rgb(105, 105, 105) !important;
}

.btn:focus {
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.Adjust-the-button {
  position: relative;
  width: 100%;
  box-shadow: none;
  top: 8px;
  left: -10px;
}

.Adjust-the-button:hover {
  box-shadow: none !important;
}

.cart-ee {
  background-color: white;
  border: 1px solid #76b852;
  color: #76b852;
}
.cart-ee:hover {
  background-color: white !important;
  color: #76b852 !important;
  border: 1px solid #76b852;
}
.cart-ee:focus {
  box-shadow: none !important;
  background-color: white !important;
  color: #76b852 !important;
  border: 1px solid #76b852;
}

.btn-edit:hover {
  color: black !important;
}

.Categories {
 
  border-radius: 0 !important;
  padding: 15px 80px;
  background-color: #76b852;
}


.new-collection {
  background-image: url("../photos/main-imgs/banner05.jpg");
  background-size: 100% 100%;

  text-align: center;
}

.img-span-w1 {
  background-image: url("../photos/main-imgs/banner06.jpg");
  width: 200px;
  height: 150px;
  text-align: center;
}

.img-span-w2 {
  background-image: url("../photos/main-imgs/banner07.jpg");
  width: 200px;
  height: 150px;
  text-align: center;
}

.img-span-w3 {
  background-image: url("../photos/main-imgs/banner08.jpg");
  width: 200px;
  height: 150px;
  text-align: center;
}

.img-span-w4 {
  background-image: url("../photos/main-imgs/banner09.jpg");
  width: 200px;
  height: 150px;
  text-align: center;
}

.dropdown-menu.my-clas {
  left: -370px;
}

.span-cate{
  left: -75px;
  text-transform: uppercase;
  position: relative;
 
}

.edit-on{
  position: absolute;
  top: 17px;
  left: 229px;
}

.phones{
  background-image: url("../photos/main-imgs/banner04.jpg");
 
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 200px;
  margin: 30px 0px;

}

.phones span{
  text-align: start !important;
  position: relative;
  top: 175px;
  left: 25px;
}

.wid{
  height: 700px;
}
/* navbar */
